<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="netPipe" />
                <binding name="netPipeFactory1" />
                <binding name="netPipeShoes1" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://shoesstock/" binding="netNamedPipeBinding"
                bindingConfiguration="netPipe" contract="Factories.IShopContract"
                name="netPipe">
                <identity>
                    <userPrincipalName value="student@lan.itstep.kiev.ua" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://shoesstock/" binding="netNamedPipeBinding"
                bindingConfiguration="netPipeFactory1" contract="ShopService.IFactoryContract"
                name="netPipeFactory1">
                <identity>
                    <userPrincipalName value="DESKTOP-S1J7RL9\Mikhail" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://shoesstock/" binding="netNamedPipeBinding"
                bindingConfiguration="netPipeShoes1" contract="ShopService.IShoesContract"
                name="netPipeShoes1">
                <identity>
                    <userPrincipalName value="DESKTOP-S1J7RL9\Mikhail" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>