<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="netPipe" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://shoesstock/" binding="netNamedPipeBinding"
                bindingConfiguration="netPipe" contract="Factories.IShopContract"
                name="netPipe">
                <identity>
                    <userPrincipalName value="student@lan.itstep.kiev.ua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>