<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="netPipeFactory" />
                <binding name="netPipeShoes" />
                <binding name="netPipeLogIn" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://shoesstock/" binding="netNamedPipeBinding"
                bindingConfiguration="netPipeFactory" contract="ServiceReference.IFactoryContract"
                name="netPipeFactory">
                <identity>
                    <userPrincipalName value="student@lan.itstep.kiev.ua" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://shoesstock/" binding="netNamedPipeBinding"
                bindingConfiguration="netPipeShoes" contract="ServiceReference.IShoesContract"
                name="netPipeShoes">
                <identity>
                    <userPrincipalName value="student@lan.itstep.kiev.ua" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://shoesstock/" binding="netNamedPipeBinding"
                bindingConfiguration="netPipeLogIn" contract="ServiceReference.IShoesLoginContract"
                name="netPipeLogIn">
                <identity>
                    <userPrincipalName value="student@lan.itstep.kiev.ua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>